{% extends 'base.html' %}
<!-- <h5>Application Name: </h5>
<p>{{ app_name }}<p> -->
<!-- <h1>{{ app_name }}</h1>
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p> -->

<!-- tadinya ini base.html (yg ada di line pertama) -->

{% block content %}
<h1>{{app_name}}</h1>

<h4>Name:</h4>
<p>{{name}}</p>

<h4>Class:</h4>
<p>{{class}}</p>

<h5>Kamu menyimpan {{jumlah_item}} item pada aplikasi ini</h5>
<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <a href="{% url 'main:increase_amount' %}">
                <button>
                    +
                </button>
            </a>
            <a href="{% url 'main:decrease_amount' %}">
                <button>
                    -
                </button>
            </a>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}