{% extends 'base.html' %}


{% block content %}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">{{name}}</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a href="{% url 'main:logout' %}">
                <button class="btn btn-outline-success">
                    Logout
                </button>
            </a>
        </form>
    </div>
</nav>

<h1>{{app_name}}</h1>

<h4>Name:</h4>
<p>{{name}}</p>

<h4>Class:</h4>
<p>{{class}}</p>

<h5>Kamu menyimpan {{jumlah_item}} item pada aplikasi ini</h5>
<style>
    th {
        text-align: center;
    }
</style>
<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td align="center">{{product.name}}</td>
            <td align="center">{{product.amount}}</td>
            <td align="center">{{product.description}}</td>
            <td align="center">{{product.date_added}}</td>
            <td>
                <a href="{% url 'main:edit_product' product.pk %}">
                    <button class="btn btn-outline-success">
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button class="btn btn-outline-success">
                        Delete
                    </button>
                </a>
            </td>
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <h6 class="card-text">Amount: {{product.amount}}</h6>
                      <p class="card-text">{{product.description}}</p>
                        <a href="{% url 'main:edit_product' product.pk %}">
                            <button class="btn btn-outline-success">
                                Edit
                            </button>
                        </a>
                        <a href="{% url 'main:delete_product' product.pk %}">
                            <button class="btn btn-outline-success">
                                Delete
                            </button>
                        </a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated: {{product.date_added}}</small>
                    </div>
                  </div>
                </div>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button class="btn btn-outline-success">
        Add New Product
    </button>
</a>
<h6>Sesi terakhir login: {{ last_login }}</h6>
<a href="{% url 'main:logout' %}">
    <button class="btn btn-outline-success">
        Logout
    </button>
</a>

{% endblock content %}