{% extends 'base.html' %}


{% block content %}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">{{name}}</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a href="{% url 'main:logout' %}">
                <button class="btn btn-outline-success">
                    Logout
                </button>
            </a>
        </form>
    </div>
</nav>

<h1>{{app_name}}</h1>

<h4>Name:</h4>
<p>{{name}}</p>

<h4>Class:</h4>
<p>{{class}}</p>

<h5>Kamu menyimpan {{jumlah_item}} item pada aplikasi ini</h5>
<style>
    th {
        text-align: center;
    }
</style>
<!-- <table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td align="center">{{product.name}}</td>
            <td align="center">{{product.amount}}</td>
            <td align="center">{{product.description}}</td>
            <td align="center">{{product.date_added}}</td>
            <td>
                <a href="{% url 'main:edit_product' product.pk %}">
                    <button class="btn btn-outline-success">
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button class="btn btn-outline-success">
                        Delete
                    </button>
                </a>
            </td> -->
              <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <h6 class="card-text">Amount: {{product.amount}}</h6>
                      <p class="card-text">{{product.description}}</p>
                        <a href="{% url 'main:edit_product' product.pk %}">
                            <button class="btn btn-outline-success">
                                Edit
                            </button>
                        </a>
                        <a href="{% url 'main:delete_product' product.pk %}">
                            <button class="btn btn-outline-success">
                                Delete
                            </button>
                        </a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated: {{product.date_added}}</small>
                    </div>
                  </div>
                </div> -->
        <!-- </tr>
    {% endfor %}
</table> -->

<table id="product_table"></table>

<br />

<a href="{% url 'main:create_product' %}">
    <button class="btn btn-outline-success">
        Add New Product
    </button>
</a>
<h6>Sesi terakhir login: {{ last_login }}</h6>
<a href="{% url 'main:logout' %}">
    <button class="btn btn-outline-success">
        Logout
    </button>
</a>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = ``
        // let htmlString = `<tr>
        //     <th>Name</th>
        //     <th>Price</th>
        //     <th>Description</th>
        //     <th>Date Added</th>
        // </tr>`
        products.forEach((item) => {
            // htmlString += `\n<tr>
            // <td>${item.fields.name}</td>
            // <td>${item.fields.amount}</td>
            // <td>${item.fields.description}</td>
            // <td>${item.fields.date_added}</td>
            // <td>
            //     <button id = "edit-${item.pk}">Edit</button>
            //     <button id = "delete-${item.pk}">Delete</button>
            // </td>
            htmlString += `\n
                <div class="col mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">${item.fields.name}</h5>
                      <h6 class="card-text">Amount: ${item.fields.amount}</h6>
                      <p class="card-text">${item.fields.description}</p>
                    
                    <div>
                        <button id = "edit-${item.pk}">Edit</button>
                        <button id = "delete-${item.pk}">Delete</button>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated: ${item.fields.date_added}</small>
                    </div>
                  </div>
                </div>`
        })
        
        document.getElementById("product_table").innerHTML = htmlString
        products.forEach((item) => {
            document.getElementById(`edit-${item.pk}`).onclick = () => {
            window.location.href = `edit-product/${item.pk}`
            }
            document.getElementById(`delete-${item.pk}`).onclick = () => {
            fetch(`delete/${item.pk}`).then(refreshProducts)
            }
        })
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct
</script>
{% endblock content %}